beautifulsoup4==4.12.3
docx==0.2.4
faiss-cpu==1.7.4
langchain==0.2.1
langchain-anthropic==0.1.2
langchain-community==0.2.1
langchain-core==0.2.1
langchain-embeddings-huggingface==0.1.2
langchain-groq==0.5.0
langchain-text-splitters==0.2.0
langchain-vectorstores==0.5.0
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
pptx==0.6.23
pymupdf==1.24.1
pytesseract==0.3.10
python-dotenv==1.0.1
requests==2.31.0
streamlit==1.36.0
