streamlit
Pillow
numpy
requests
beautifulsoup4
pymupdf
python-docx
python-pptx
pytesseract
faiss-cpu
langchain-text-splitters
langchain-core
langchain-embeddings-huggingface
langchain-vectorstores
langchain-groq
langchain
langchain-community
pandas
python-dotenv
